

@font-face {
 font-family: Gobold_Light;
 src: url("../fonts/Gobold_Light.eot") /* EOT file for IE */
}
@font-face {
 font-family: Gobold_Light;
 src: url("../fonts/Gobold_Light.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
 font-family: Oswald-ExtraLight;
 src: url("../fonts/Oswald-ExtraLight.eot") /* EOT file for IE */
}
@font-face {
 font-family: Oswald-ExtraLight;
 src: url("../fonts/Oswald-ExtraLight.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
 font-family: Oswald-Light;
 src: url("../fonts/Oswald-Light.eot") /* EOT file for IE */
}
@font-face {
 font-family: Oswald-Light;
 src: url("../fonts/Oswald-Light.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: Oswald-Regular;
 src: url("../fonts/Oswald-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: Oswald-Regular;
 src: url("../fonts/Oswald-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: Space_Comics;
 src: url("../fonts/Space_Comics.eot") /* EOT file for IE */
}
@font-face {
 font-family: Space_Comics;
 src: url("../fonts/Space_Comics.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: Oswald-Bold;
 src: url("../fonts/Oswald-Bold.eot") /* EOT file for IE */
}
@font-face {
 font-family: Oswald-Bold;
 src: url("../fonts/Oswald-Bold.ttf") /* TTF file for CSS3 browsers */
}










