@charset "utf-8";
/* CSS Document */

/*Global css*/
* {
	border: 0px;
}
/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0px;
	padding: 0px;
	border: 0;
	list-style-type: none;
	font-weight: normal;
	line-height: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	margin: 0px;
	padding: 0px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
	outline: none;
}
body {
	margin: 0px;
	padding: 85px 0px 0px 0px;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
}
body, html {
	overflow-x: hidden;
}
textarea {
	resize: none;
}
img {
	max-width: 100%;
	transition: all 1s ease 0s;
}
a:focus {
	text-decoration: none;
	outline: none;
}
a {
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
a:hover {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
.headerFix {
}
.headerFix .navbar-default .navbar-nav > li > a {
	line-height: 74px;
}
.headerFix .navbar-brand > img {
	width: 130px;
}
h1 {
	font-family: Space_Comics;
	font-size: 38px;
	color: #000;
	text-transform: uppercase;
}
p {
	font-family: Oswald-ExtraLight;
	font-size: 20px;
	color: #fff;
}
header {
	width: 100%;
	margin: 0px;
	position: fixed;
	top: 0px;
	z-index: 999;
	padding: 0px;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
}
.navbar-default {
	margin: 0px;
	padding: 0px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
.navbar {
	line-height: none;
	padding: 0px;
	margin: 0px;
	height: auto;
	background-color: #f3b818;
	border: none;
	border-radius: 0px;
	min-height: inherit;
}
.navbar .container-fluid {
	padding: 0px 98px;
}
.navbar-brand {
	height: auto;
	padding: 12px 12px;
}
.navbar-default .navbar-nav > li {
	font-family: Gobold_Light;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px 18px;
	border-left: 1px solid #f5c646;
}
.navbar-brand > img {
	width: 183px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
}
.navbar-default .navbar-nav > li:last-child {
	border-right: 1px solid #f5c646;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	padding: 0px 0px;
	line-height: 95px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000;
}
.navbar-default .navbar-nav > .active > a {
	background-color: transparent !important;
	color: #000 !important;
}
.jumbotron {
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	border: none;
	position: relative;
	height: 805px;
}
.bg-info {
	background-color: transparent;
	padding: 220px 0px 120px;
	margin: 0px;
	border: none;
	position: relative;
}
/*Search box
==============================================*/
.search-box {
	position: absolute;
	width: 100%;
	top: -111px;
}
.search-form {
	max-width: 1170px;
	background: #fff;
	margin: 0 auto;
	padding: 52px 57px 14px;
	text-align: center;
}
.search-form::after {
	content: " ";
	background: url(../img/box-shadow.png) no-repeat;
	background-position: bottom center;
	height: 40px;
	width: 100%;
	position: relative;
	bottom: -40px;
	display: inline-block;
	z-index: -1
}
.search-form .form-control {
	border-radius: 4px;
	border: 1px solid #f0f0f0;
	color: #b9b9b9;
	padding: 10px 18px;
	height: 55px;
	width: 220px;
	margin-right: 4px;
	font-size: 16px;
	font-family: Gobold_Light;
	box-shadow: none;
}
.search-form .form-control:focus {
	border-color: #000;
	color: #000;
}
.search-form input[type="checkbox"] {
	opacity: 0;
}
.search-form .form-control::placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
color: #b9b9b9;
opacity: 1;
/* Firefox */
}
.search-form .form-control:-ms-input-placeholder {
/* Internet Explorer 10-11 */
color: #b9b9b9;
}
.search-form .form-control::-ms-input-placeholder {
/* Microsoft Edge */
color: #b9b9b9;
}
.checkbox-inline {
	font-family: Gobold_Light;
	font-size: 20px;
	color: black;
	margin-bottom: 42px;
	margin-right: 18px;
}
.btn-go {
	font-family: Gobold_Light;
	border: 1px solid #f0f0f0;
	color: #b9b9b9;
	text-transform: uppercase;
	background: #fff;
	padding: 15px 20px;
	border-radius: 4px;
	letter-spacing: 1px;
	font-size: 16px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
.btn-go:hover {
	color: #fff;
	background: #F3B818;
}
.checkmark {
	position: absolute;
	top: 3px;
	left: -4px;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border: 1px solid #d8d1d1;
	border-radius: 4px;
	box-shadow: none;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
.checkbox-inline:hover input ~ .checkmark {
/*background-color: #F0F0F0;*/
}
.checkbox-inline input:checked ~ .checkmark {
	background-color: #F3B818;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox-inline input:checked ~ .checkmark:after {
	display: block;
}
.checkbox-inline .checkmark:after {
	left: 6px;
	top: 3px;
	width: 6px;
	height: 11px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
	background: #F3B818;
}
/* End Search Box*/

.bg-info .container {
	width: 1366px;
	margin: 0px auto;
}
.leftBox {
	padding: 90px 50px 90px 220px;
	border: 1px solid #e6e6e6;
	position: relative;
	margin-bottom: 10px;
}
.left-Img {
	position: absolute;
	left: -40px;
	top: 32px;
}
.resize-gap {
	padding-right: 7px;
	padding-left: 7px;
}
.leftBox-content {
	padding-left: 62px;
	position: relative;
}
.leftBox-content h2 {
	font-family: Gobold_Light;
	font-size: 18px;
	color: #000;
	padding-bottom: 5px;
	letter-spacing: 1px;
}
.leftBox-content h3 {
	font-family: Oswald-Light;
	font-size: 18px;
	color: #f3b818;
	padding-bottom: 10px;
	letter-spacing: 0.5px;
}
.leftBox-content h4 {
	font-family: Oswald-ExtraLight;
	font-size: 24px;
	color: #b9b9b9;
	padding-bottom: 10px;
	line-height: 30px;
}
.leftBox-content h4 a {
	color: #f3b818;
	text-decoration: none;
}
.leftBox-content h4 a:hover, .leftBox-content h4 a:focus {
	color: #000;
}
.map-ping {
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../img/map-ping-img.png);
	width: 35px;
	height: 47px;
	font-family: 'OpenSansBold';
	font-size: 19px;
	color: #fff;
	line-height: 42px;
	text-align: center;
}
figure {
	margin-bottom: 6px;
	position: relative;
}
.fig-text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	padding: 0px 34px;
	text-align: center;
}
.fig-text h3 {
	font-family: Oswald-Regular;
	font-size: 24px;
	color: #e6e6e6;
	line-height: 30px;
	padding-bottom: 4px;
}
.fig-text h4 {
	font-family: Oswald-Light;
	font-size: 20px;
	color: #e6e6e6;
	line-height: 26px;
}
.btn-default {
	padding: 14px 108px;
	height: inherit;
	line-height: inherit;
	border: 1px solid #f3b818;
	font-family: Gobold_Light;
	font-size: 18px;
	color: #f3b818;
	letter-spacing: 1px;
	border-radius: 4px;
	margin-top: 100px;
}
.btn-default:hover, .btn-default:focus {
	background-color: transparent;
	border-color: #000;
	color: #000;
	outline: none;
}
.bg-primary {
	background-color: transparent;
	padding: 0px;
}
.bg-primary h1 {
	padding-bottom: 95px;
}
.resize-two {
	padding: 0px 0px;
}
.resize-two img {
	position: relative;
}
.spcial-text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	padding: 0px 100px 0px 65px;
	text-align: left;
}
.spcial-text h2 {
	font-family: Oswald-Bold;
	font-size: 30px;
	color: #fff;
	padding-bottom: 20px;
}
.post-box {
	margin-bottom: 10px;
}
.post-box ul li {
	display: inline-block;
	padding-right: 15px;
	font-family: Oswald-Regular;
	font-size: 15px;
}
.post-box ul li img {
	margin-right: 8px;
}
.bg-success {
	background-image: url(../img/about-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: transparent;
	padding: 70px 0px 330px;
	position: relative;
}
.bg-success .container {
	width: 1406px;
	margin: 0px auto;
}
.bg-success h1 {
	padding-bottom: 130px;
	color: #fff;
}
.bg-success p {
	font-size: 22px;
	line-height: 33px;
}
footer {
	background-color: #f3b818;
}
.bear-sec {
	position: relative;
	height: 320px;
	background: #F3B818;
}
.bear-img {
	position: absolute;
	top: -610px;
	width: auto;
	left: 0;
	right: 0;
	width: 700px;
	margin: 0px auto;
}
.bear-img img {
}
.footer {
	border-top: 1px solid #f7cd5e;
	padding: 68px 0px 76px;
}
.social-box li {
	display: inline-block;
	padding: 0px 40px;
	font-family: Gobold_Light;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}
.social-box li a {
	color: #fff;
	text-decoration: none;
}
.social-box li a:hover, .social-box li a:focus {
	color: #000;
}
.social-box li a:hover .fa, .social-box li a:focus .fa {
	color: #000;
	border-color: #000;
}
.social-box li .fa {
	margin-right: 18px;
	width: 42px;
	height: 42px;
	border: 2px solid #fff;
	font-size: 18px;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
}
.social-box {
	margin-bottom: 45px;
}
.footer p {
	color: #fff;
	font-size: 18.84px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.footer p a {
	color: #fff;
	text-decoration: none;
	margin: 0px 4px;
}
.footer p a:hover, .footer p a:focus {
	color: #000;
}
/* Subscribe form
==============================================*/
.bg-warning {
	background: #f3b818;
	color: #fff;
	padding: 45px 0px 55px;
}
.sub-form h1 {
	font-size: 42px;
	font-family: Oswald-Bold;
	text-transform: capitalize;
	color: #fff;
}
.sub-form h3 {
	font-size: 24px;
	font-family: Oswald-Light;
	padding-bottom: 30px;
}
.sub-form .form-control {
	width: 556px;
	height: 55px;
	padding: 10px 18px;
	font-family: Gobold_Light;
	font-size: 15px;
	color: #f3b818;
	border: 0px;
	box-shadow: 0px;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.sub-form .form-control::placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
color: #f3b818;
opacity: 1;
/* Firefox */
}
.sub-form .form-control:-ms-input-placeholder {
/* Internet Explorer 10-11 */
color: #f3b818;
}
.sub-form .form-control::-ms-input-placeholder {
/* Microsoft Edge */
color: #f3b818;
}
.btn-sub {
	position: relative;
	left: -8px;
	background: #000;
	color: #fff;
	font-family: Gobold_Light;
	font-size: 18px;
	padding: 14.6px 28px;
	border: 0px;
	border-radius: 4px;
	letter-spacing: .4px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
.btn-sub:hover {
	color: #fff;
	background: #333333;
}
.stor-img {
	padding-top: 34px;
}
.stor-img img {
	padding-left: 5px;
	padding-right: 5px;
}
/*End subscribe form */
.gotop {
	position: fixed;
	right: 20px;
	bottom: -100px;
	cursor: pointer;
	z-index: 999;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	opacity: 0;
}
.gotop .fa {
	background-color: #f3b818;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 26px;
	line-height: 32px;
	color: #fff;
	text-align: center;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.gotop .fa:hover, .gotop .fa:focus {
	background-color: #000;
}
.gotop-show {
	bottom: 50px;
	opacity: 1;
}
/*Inner page sttart*/
.jumbotron.inner-banner {
	position: relative;
	height: auto;
}
.jumbotron.inner-banner .bannerImg {
	width: 1920px;
	max-width: none;
	position: relative;
	left: 50%;
	top: 0%;
	-ms-transform: translateY(-0%) translateX(-50%);
	-webkit-transform: translateY(-0%) translateX(-50%);
	transform: translateY(-0%) translateX(-50%);
}
.bannerText {
	width: 800px;
	position: absolute;
	left: 360px;
	top: 50%;
	-ms-transform: translateY(-50%) translateX(-0%);
	-webkit-transform: translateY(-50%) translateX(-0%);
	transform: translateY(-50%) translateX(-0%);
}
.bannerText h1 {
	font-family: Oswald-Regular;
	font-size: 65px;
	color: #fff;
	line-height: 65px;
	text-transform: capitalize;
	padding-bottom: 8px;
}
.bannerText h2 {
	font-family: Oswald-ExtraLight;
	font-size: 22px;
	color: #fff;
	letter-spacing: 2px;
}
.well {
	min-height: inherit;
	padding: 0;
	margin: 0px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}
.advertise-sec {
	padding: 100px 0px 86px;
}
.advertise-sec h1 {
	font-family: Oswald-Bold;
	font-size: 38px;
	line-height: 38px;
	padding-bottom: 55px;
}
.advertise-sec p {
	color: #000;
	padding-bottom: 14px;
	letter-spacing: 1px;
}
.advertise-sec p a {
	color: #f3b818;
	text-decoration: none;
}
.advertise-sec p a:hover, .advertise-sec p a:focus {
	color: #b98d17;
	text-decoration: none;
}
.bg-info.special-events {
	padding: 95px 0px 130px;
}
.btn-warning {
	font-family: Gobold_Light;
	font-size: 18px;
	color: #fff;
	padding: 15px 76px;
	line-height: inherit;
	height: inherit;
	background-color: #f3b818;
	border-radius: 6px;
	letter-spacing: 1px;
	margin-top: 10px;
	border: none;
}
.btn-warning:hover, .btn-warning:focus {
	background-color: #000;
	outline: none;
	color: #fff;
}
.bg-info.special-events .btn-default {
	padding: 14px 82px;
}
.bg-info.special-events .left-Img {
	top: 75px;
}
.bg-info.the-breweries .btn-default {
	padding: 14px 82px;
	letter-spacing: 2px;
}
/*Soumya*/

.bg-info.americus-page {
	padding: 0px 0px;
}
.americus-box {
	width: 100%;
	position: relative;
	top: -113px;
}
.americus-content {
	max-width: 1138px;
	min-height: 665px;
	margin: 0 auto;
	background: #fff;
	padding: 60px 60px 95px 60px;
	box-sizing: border-box;
	box-shadow: 1px 1px 20px #cccccc;
}
.americus-content img {
	border: 1px solid #eeeeee;
}
.americus-content h2 {
	font-size: 30px;
	line-height: 28px;
	font-weight: 400;
	font-family: Gobold_Light;
	color: #000;
	padding-bottom: 24px;
}
.americus-content p {
	color: #000;
	font-size: 24px;
	padding-bottom: 30px;
}
.btn-success {
	background: #dd9413;
	border: 0px;
	padding: 14px 90px;
	height: inherit;
	line-height: inherit;
	font-family: Gobold_Light;
	font-size: 18px;
	letter-spacing: .5px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	margin-right: 12px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
}
.btn-success:first-child {
	margin-right: 0px;
}
.btn-success:hover, .btn-success:focus {
	color: #fff;
	background-color: #000;
	outline: none;
}
.c-info {
	padding-right: 67px;
}
.open-time {
	margin-top: 38px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px;
	position: relative;
}
.open-time span {
	font-family: Oswald-Light;
	font-size: 18px;
	padding-bottom: 0px;
}
.open-time span a {
	color: #000;
}
.open-time span a:hover, .open-time span a:active {
	color: #EC971F;
}
.open-time .dropdown-menu {
	padding: 10px;
	left: 60px;
}
.open-time .dropdown-menu li {
	font-family: Oswald-Light;
	font-size: 18px;
}
.fa-angle-down {
	margin-left: 6px;
}
.contact-info {
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.contact-info li {
	display: inline-block;
	padding: 18px 80px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}
.contact-info li:last-child {
	border-right: 0px;
	padding-left: 52px;
	padding-right: 52px;
}
.contact-info li .fa {
	font-size: 33px;
	color: #b2b2b2;
}
.contact-info li span a {
	margin-top: 10px;
	display: block;
	font-size: 15px;
	color: #dd9413;
	font-family: Oswald-Light;
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
.contact-info li span a:hover {
	color: #000;
}
.social-link {
	margin-bottom: 8px;
}
.social-link li {
	display: inline-block;
	margin: -1px;
	padding: 0px
}
.social-link li a .fa {
	font-size: 16.02px;
	background: #dd9413;
	color: #fff;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	text-align: center;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
.social-link li a .fa:hover, .social-link li a .fa:focus {
	background-color: #000;
	color: #fff;
}
a.site-url {
	color: #000;
	font-size: 15.1px;
	font-family: Oswald-Light;
	text-decoration: none;
	letter-spacing: .5px;
}
/*Sudip dey*/

.jumbotron.inner-banner.map {
	position: relative;
	height: 500px;
}
.map::before {
	content: "";
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.venue-sec {
	background-color: #fff;
	padding: 58px 60px 30px;
	box-shadow: 1px 1px 20px #cccccc;
	position: relative;
	top: -110px;
}
.account-box {
	max-width: 1020px;
	margin: 0 auto;
}
.account-box h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 40px;
	font-family: Gobold_Light;
	font-weight: 400;
	color: #000000;
}
.account-box h3 {
	font-size: 24px;
	margin-bottom: 20px;
	font-family: Oswald-ExtraLight;
	color: #000305;
}
.account-box .box-dtl h4 {
	font-size: 24px;
	font-family: Oswald-ExtraLight;
	color: #dd9413;
}
.account-box .box-dtl {
	border-bottom: 2px solid #e5e5e5;
	border-top: 2px solid #e5e5e5 !important;
	padding: 8px 0px;
}
.account-box .orange {
	color: #e2a232;
	margin-bottom: 15px;
}
.account-box .br-down h3 {
	margin-bottom: 0px;
	margin-top: 10px;
}
.account-box p {
	color: #636363;
	font-size: 15px;
	line-height: 19px;
	font-family: Oswald-Light;
}
.account-box .ul-venue li {
	display: inline-block;
}
.account-box .account-img {
	border: 1px solid #ededed;
}
.account-box .manage-cls {
	margin-top: 10px;
}
.account-box .manage-cls a {
	padding-right: 7px;
	padding-left: 7px;
}
.account-box .star-cls {
	margin-top: 10px;
}
.star-cls .fa {
	color: #000;
	font-size: 20px;
}
.star-cls .grey-star {
	color: #adadad;
}
.account-box .star-cls .reting {
	font-size: 15px;
	font-family: Oswald-Light;
	color: #000305;
	padding-left: 8px;
}
.br-down {
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.br-down.border-off {
	border-bottom: none;
	padding-bottom: 0px;
}
/*Inner page end*/
.whosOpenSec {
	padding: 100px 0;
}
.well h1 {
	font-family: Oswald-Bold;
}
.whosOpenSec h1 {
	font-family: Oswald-Bold;
}
.logosSec {
	padding-top: 80px;
}
.companyLogo {
	background-color: #f3b818;
	text-align: center;
	margin-bottom: 20px;
}
.companyLogo a {
	display: block;
	padding: 30px;
}
.companyLogo figure {
	margin-bottom: 35px;
	width: auto;
}
.companyLogo h4 {
	font-family: Oswald-Regular;
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 22px;
}
.resetCol > [class*='col-'] {
	padding-right: 10px;
	padding-left: 10px;
}
.text-warning {
	color: #ffe652;
}
.conditionSec {
	max-width: 1400px;
	margin: 0 auto;
	padding: 100px 0 60px;
}
.conditionSec h1 {
	padding-bottom: 35px;
}
.conditionSec p {
	color: #707070;
	padding-bottom: 26px;
}
.listDot {
	padding-bottom: 30px;
	padding-left: 20px;
}
.listDot li {
	list-style-type: disc;
	color: #707070;
	padding-bottom: 8px;
	font-family: Oswald-ExtraLight;
	font-size: 20px;
}
.siteMap {
	padding: 100px;
}
.siteMap ul li a {
	text-decoration: none;
	font-family: Gobold_Light;
	font-size: 16px;
	color: #000000;
	padding: 6px 0;
	display: inline-block;
}
.siteMap ul li a:hover {
	color: #f3b818;
}

@media (max-width: 1600px) {
.navbar .container-fluid {
	padding: 0px 60px;
}
.spcial-text {
	padding: 0px 70px 0px 65px;
}
.jumbotron.inner-banner .bannerImg {
	width: 1600px;
}
.bannerText {
	left: 193px;
}
}

@media (max-width: 1440px) {
.bannerText {
	left: 120px;
}
.bg-info .container {
	width: 1170px;
}
.bg-success .container {
	width: 1240px;
}
.bg-success {
	padding: 70px 0px 290px;
}
.fig-text {
	bottom: 15px;
	padding: 0px 20px;
}
.fig-text h4 {
	font-size: 18px;
	line-height: 24px;
}
.spcial-text {
	padding: 0px 55px 0px 55px;
}
.bear-img img {
	width: 660px;
}
.bear-img {
	top: -570px;
	width: 660px;
}
}

@media (max-width: 1366px) {
.left-Img {
	top: 50px;
}
/*Inner page start*/	
.bannerText {
	left: 85px;
}
.advertise-sec {
	padding: 60px 0px 46px;
}
.bannerText h1 {
	font-size: 50px;
	line-height: 50px;
	padding-bottom: 5px;
}
.bg-info.special-events {
	padding: 60px 0px 60px;
}
/*Inner page end*/	

}

@media (max-width: 1240px) {
h1 {
	font-size: 30px;
}
p {
	font-size: 16px;
	line-height: 21px;
}
.bg-info .container {
	width: 970px;
}
.bg-success .container {
	width: 970px;
}
.bg-success {
	padding: 50px 0px 230px;
}
.bear-img img {
	width: 480px;
}
.bear-sec {
	height: 200px;
}
.bear-img {
	top: -440px;
	width: 480px;
}
.bg-success p {
	font-size: 20px;
	line-height: 30px;
}
.bg-success h1 {
	padding-bottom: 60px;
}
.bg-info {
	padding: 180px 0px 60px;
}
.btn-default {
	margin-top: 40px;
}
.bg-primary h1 {
	padding-bottom: 40px;
}
.leftBox {
	padding: 50px 20px 50px 220px;
	min-height: 260px;
}
.leftBox-content {
	padding-left: 50px;
	position: relative;
}
.spcial-text h2 {
	font-size: 25px;
	padding-bottom: 10px;
}
.spcial-text {
	padding: 0px 30px 0px 30px;
	bottom: 20px;
}
.fig-text h3 {
	font-size: 20px;
	line-height: 25px;
}
.footer {
	padding: 50px 0px 50px;
}
.social-box {
	margin-bottom: 30px;
}
.left-Img img {
	width: 200px;
}
left-Img {
	top: 40px;
}
/*soumya*/


.c-info {
	padding-right: 30px;
}
.americus-content p {
	line-height: 30px;
}
.btn-success {
	padding: 14px 70px;
}
.contact-info li {
	padding: 18px 50px;
}
.contact-info li:last-child {
	padding: 18px 45px;
}
/*Sudip Dey*/

.account-box {
	max-width: 900px;
}
.account-box h2 {
	margin-bottom: 20px;
}
.listDot li {
	padding-bottom: 3px;
	font-size: 16px;
}
}

@media (max-width: 1200px) {
.navbar .container-fluid {
	padding: 0px 30px;
}
.spcial-text {
	padding: 0px 20px 0px 20px;
}
.post-box ul li {
	padding-right: 8px;
	font-size: 14px;
}
.bg-success p {
	font-size: 19px;
	line-height: 28px;
}
/* Search Box
==============================================*/
.search-form {
	max-width: 992px;
	padding: 45px 45px 5px;
}
.search-form::after {
	bottom: -31px;
	background-size: 157%;
}
.search-form .form-control {
	width: 188px;
}
.checkbox-inline {
	margin-bottom: 24px;
	font-size: 18px;
}
.checkmark {
	left: -2px;
	height: 18px;
	width: 18px;
}
.checkbox-inline .checkmark::after {
	left: 5px;
	top: 2px;
	width: 6px;
	height: 10px;
}
}

@media (max-width: 1024px) {
.left-Img {
	left: 0px;
	top: 30px;
}
.bg-info {
	padding: 160px 0px 60px;
}
/* Search Box
==============================================*/
.search-form {
	max-width: 760px;
	padding: 35px 35px 1px;
}
.search-form::after {
	bottom: -22px;
	background-size: 154%;
}
.search-form .form-control {
	width: 143px;
	height: 46px;
	font-size: 14px;
}
.checkbox-inline {
	font-size: 16px;
}
.btn-go {
	padding: 11px 16px;
	font-size: 14px;
}
.checkmark {
	left: 0px;
	top: 2px;
}
/*Sudip Dey*/

.venue-sec {
	padding: 40px;
	top: -75px;
}
.account-box h2 {
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 10px;
}
.account-box h3 {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
}
.account-box .box-dtl h4 {
	font-size: 20px;
	line-height: 24px;
}
.account-box .br-down h3 {
	margin-top: 5px;
}
.account-box .orange {
	margin-bottom: 5px;
}
}

@media (max-width: 992px) {
h1 {
	font-size: 25px;
}
.navbar .container-fluid {
	padding: 0px 15px;
}
.navbar-default .navbar-nav > li {
	font-size: 14px;
	padding: 0px 8px;
}
.bg-info .container {
	width: auto;
}
.left-Img img {
	width: 170px;
}
.leftBox {
	padding: 40px 15px 30px 200px;
}
.leftBox-content h4 {
	font-size: 20px;
	line-height: 26px;
}
.fig-text h3 {
	font-size: 18px;
	line-height: 23px;
}
.fig-text h4 {
	font-size: 14px;
	line-height: 18px;
}
.fig-text {
	bottom: 10px;
	padding: 0px 10px;
}
.bg-info {
	padding: 160px 0px 40px;
}
.bg-primary h1 {
	padding-bottom: 30px;
}
.spcial-text h2 {
	font-size: 20px;
	padding-bottom: 5px;
}
.spcial-text {
	padding: 0px 15px 0px 15px;
	bottom: 10px;
}
.bg-success .container {
	width: auto;
}
.bg-success {
	padding: 40px 0px 200px;
}
.bg-success h1 {
	padding-bottom: 40px;
}
.bg-success p {
	font-size: 18px;
	line-height: 24px;
}
.bear-img img {
	width: 420px;
}
.bear-img {
	top: -370px;
	width: 420px;
}
.social-box li {
	padding: 0px 20px;
	font-size: 16px;
}
.footer {
	padding: 30px 0px 30px;
}
.footer p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}
.bear-sec {
	height: 175px;
}
/* Search Box
==============================================*/
.sub-form .form-control {
	width: 460px
}
.sub-form ul li {
	padding-left: 1px;
	padding-right: 1px;
}
/*Inner page start*/
.bannerText {
	left: 120px;
}
.advertise-sec {
	padding: 40px 0px 26px;
}
.advertise-sec h1 {
	font-family: Oswald-Bold;
	font-size: 38px;
	line-height: 38px;
	padding-bottom: 30px;
}
.advertise-sec h1 {
	font-family: Oswald-Bold;
	font-size: 26px;
	line-height: 26px;
	padding-bottom: 30px;
}
.bannerText h1 {
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 5px;
}
.btn-warning {
	font-size: 16px;
	padding: 14px 60px;
	border-radius: 4px;
}
/*soumya*/

.btn-success {
	padding: 14px 52px;
	margin: 0px;
	font-size: 16px;
}
.c-info {
	padding-right: 0px;
}
.contact-info li {
	padding: 18px 36px;
}
.contact-info li:last-child {
	padding: 18px 10px;
}
.jumbotron.inner-banner .bannerImg {
	width: 1400px;
}
/*Sudip Dey*/
.jumbotron.inner-banner.map {
	height: 350px;
}
/*Inner page end*/

.whosOpenSec {
	padding: 60px 0;
}
.logosSec {
	padding-top: 40px;
}
.companyLogo a {
	padding: 30px 15px;
}
.conditionSec {
	padding: 60px 0 40px;
}
}

@media (max-width: 767px) {
h1 {
	font-size: 20px;
}
body {
	padding: 60px 0px 0px 0px;
}
.navbar-brand {
	padding: 10px 15px;
	width: 150px;
}
.navbar-toggle {
	margin-top: 17px;
	margin-right: 20px;
	border: 1px solid #000 !important;
	border-radius: 0px;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-default .navbar-nav > li {
	padding: 0px 0px;
	text-align: center;
}
.navbar-default .navbar-nav > li > a {
	line-height: 30px !important;
}
.jumbotron {
	height: 600px;
}
.left-Img img {
	width: 170px;
}
.left-Img {
	left: 5px;
	top: 20px;
}
.leftBox {
	padding: 30px 15px 30px 190px;
	min-height: 220px;
}
figure {
	text-align: center;
	width: 400px;
	margin: 0px auto 6px;
}
.fig-text {
	bottom: 20px;
	padding: 0px 10px;
}
.fig-text h4 {
	font-size: 16px;
	line-height: 18px;
}
.btn-default {
	margin-top: 15px;
}
.spcial-text {
	padding: 0px 15px 0px 15px;
	bottom: 30px;
	text-align: center;
}
.bg-success {
	padding: 40px 0px 200px;
	text-align: center;
}
.bg-success p {
	padding-bottom: 15px;
}
.bear-img {
	top: -220px;
	width: 300px;
}
.bear-img img {
	width: 300px;
}
.bg-success {
	padding: 30px 0px 260px;
	text-align: center;
}
.bg-success h1 {
	padding-bottom: 30px;
}
.social-box li {
	padding: 0px 6px;
	font-size: 14px;
}
.social-box li .fa {
	margin-right: 6px;
	width: 30px;
	height: 30px;
	font-size: 16px;
	line-height: 27px;
}
.footer p {
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 22px;
}
.social-box {
	margin-bottom: 20px;
}
.bg-info {
	padding: 200px 0px 40px;
}
.resize-gap {
	padding-right: 15px;
	padding-left: 15px;
}
/* Search Box
==============================================*/
.search-box {
	top: -210px;
}
.search-form {
	max-width: 85%;
	padding: 35px 35px 10px;
}
.bg-light {
	padding-bottom: 180px;
}
.checkbox-inline {
	margin-right: 5px;
}
.search-form::after {
	bottom: -22px;
	background-size: 124%;
	display: none;
}
.search-form .form-control {
	width: 100%;
}
.search-form .btn-go {
	width: 100%;
	margin-bottom: 10px;
}
.search-form::after {
	bottom: -25px;
	background-size: 158%;
}
.search-form .form-control {
	height: 40px;
}
.btn-go {
	padding: 14px 16px;
}
.search-form .form-group {
	margin-bottom: 10px;
}
/*Subscribe*/
.sub-form .form-control {
	width: 80%;
	margin: 0 auto;
	border-radius: 4px;
	height: 45px;
	font-size: 16px;
}
.sub-form .form-group {
	margin-bottom: 10px;
}
.btn-sub {
	font-size: 16px;
	padding: 12px 28px;
	left: 0px;
	width: 80%;
}
.sub-form h1 {
	font-size: 35px;
}
.sub-form h3 {
	font-size: 20px;
	padding-bottom: 10px;
}
.stor-img {
	padding-top: 15px;
}
.stor-img img {
	width: 250px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 5px;
}
/*Subscribe*/


/*Inner page start*/
.jumbotron.inner-banner .bannerImg {
	width: 1200px;
}
.bannerText {
	width: 100%;
	padding: 0px 15px;
	left: 0px;
	right: 0px;
	text-align: center;
	margin: 0px auto;
}
.bannerText h1 {
	font-size: 30px;
	line-height: 30px;
}
.advertise-sec h1 {
	font-size: 25px;
	line-height: 25px;
	padding-bottom: 20px;
}
.bannerText h2 {
	font-size: 20px;
	letter-spacing: 1px;
}
.advertise-sec p br {
	display: none;
}
.bg-info.special-events {
	padding: 40px 0px 40px;
}
/*Soumya*/

.americus-content {
	padding: 10px 0px 20px;
	min-height: inherit;
	text-align: center;
}
.bg-info.americus-page {
	padding: 0px 0px;
}
.americus-content h2 {
	padding-top: 24px;
}
.btn-success {
	padding: 14px 47px;
}
.contact-info {
	clear: both;
	display: table;
	width: 100%;
}
.contact-info li {
	padding: 18px 20px 0px;
	width: 50%;
	float: left;
}
.open-time .dropdown-menu {
	left: 44%;
}
.americus-content h2 {
	font-size: 27px;
	padding-bottom: 10px;
}
.americus-content p {
	font-size: 20px;
	line-height: 25px;
	padding-bottom: 20px;
}
.open-time {
	margin-top: 20px;
}
.open-time p {
	padding: 8px 0px;
}
.americus-box {
	top: -60px;
}
/*Sudip Dey*/

.venue-sec {
	padding: 35px 25px;
	top: -60px;
}
.account-table {
	overflow-x: scroll;
	overflow-y: hidden;
}
.scroll {
	width: 680px;
}
.star-cls .fa {
	font-size: 16px;
}
.account-box .manage-cls a {
	padding-right: 4px;
	padding-left: 4px;
}
.account-box h2 {
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 10px;
}
.jumbotron.inner-banner.map {
	height: 300px;
}
/*Inner page end*/
.whosOpenSec {
	padding: 40px 0;
}
.companyLogo figure {
	margin-bottom: 25px;
}
.logosSec {
	padding-top: 30px;
}
.resetCol > [class*='col-'] {
	padding-right: 15px;
	padding-left: 15px;
}
.conditionSec {
	padding: 40px 0 20px;
}
.conditionSec h1 {
	padding-bottom: 20px;
}
}

@media (max-width: 480px) {
h1 {
	font-size: 18px;
}
figure {
	width: 300px;
	margin: 0px auto 6px;
}
.fig-text h4 {
	font-size: 16px;
	line-height: 23px;
}
.leftBox-content h2 {
	letter-spacing: 0px;
}
.social-box li {
	padding: 4px 6px;
	font-size: 14px;
}
.left-Img {
	left: auto;
	top: auto;
	position: relative;
	margin-bottom: 15px;
}
.leftBox {
	padding: 10px 15px 20px 15px;
	text-align: center;
	min-height: inherit;
}
.leftBox-content {
	padding-left: 0px;
}
.map-ping {
	position: relative;
	left: auto;
	top: auto;
	text-align: center;
	margin: 0px auto 15px;
}
.btn-default {
	width: 100%;
	padding: 12px 80px;
	font-size: 16px;
}
/* Search Box
==============================================*/
.checkbox-inline {
	margin-right: 0px;
	margin-left: 0px;
}
.search-form::after {
	bottom: -21px;
	background-size: 156%;
}
.checkbox-inline {
	font-size: 14px;
	margin-bottom: 8px;
}
.checkmark {
	top: 0px;
}
.sub-form .form-control {
	width: 100%;
}
.btn-sub {
	width: 100%;
}
.bg-success h1 {
	line-height: 38px;
}
.bg-info.special-events .left-Img {
	top: auto;
}
.bg-info.special-events .btn-default {
	padding: 12px 82px;
}
.btn-warning {
	padding: 12px 60px;
	width: 100%;
}
.bg-info.the-breweries .btn-default {
	padding: 12px 82px;
}
/*Soumya*/

.open-time .dropdown-menu {
	left: 40%;
}
.contact-info li {
	border: 0px;
	width: 100%;
}
.btn-success {
	width: 100%;
	margin-bottom: 5px;
}
}

@media (max-width: 320px) {
/* Search Box
==============================================*/
.search-form {
	max-width: 95%;
}
.sub-form .form-control {
	width: 100%;
}
.btn-sub {
	width: 100%;
}
/*Soumya*/

.americus-content {
	text-align: center;
	padding: 35px 20px 35px 20px;
}
.open-time .dropdown-menu {
	left: 32%;
}
}
